.idea/

LaExpedicion.API/bin/*
LaExpedicion.API/bin\\Debug/*
LaExpedicion.API/obj/*
LaExpedicion.API.API/bin/Debug/*
LaExpedicion.Infrastructure/obj/*
LaExpedicion.Infrastructure/bin/*
LaExpedicion.Application/obj/*
LaExpedicion.Application/bin/*
LaExpedicion.Domain/obj/*
LaExpedicion.Domain/bin/*
LaExpedicion.Shared/obj/*
LaExpedicion.Shared/bin/*

LaExpedicion.API/appsettings.json
